<%= render "new", book: @book %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>user <br> name</td>
        <td><%= @book1.title %></td>
        <td><%= @book1.body %></td>
        <% if @book1.user == current_user %>
        <td><%= link_to "edit", edit_book_path(@book1) %></td>
        <td><%= link_to "delete", book_path(@book1), method: :delete %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>